@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Petit+Formal+Script&display=swap");

@font-face {
  font-family: "SF Compact Rounded";
  src: url(../fonts/FontsFree-Net-SF-Compact-Rounded-Semibold.woff2);
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  font-family: SF Pro Display, sans-serif;
  font-weight: 590;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
  text-align: left;
  color: #0f172a;
}
.section-header {
  background-color: #f2f2f7;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.447);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  backdrop-filter: blur(10px); /* orqa fonni blur qiladi */
  -webkit-backdrop-filter: blur(10px); /* Safari uchun */
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-link {
  font-family: SF Pro Display, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  text-decoration: none;
}
.main-link {
  padding: 8px 16px;
  background-color: #0f172a;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
}
/* header end  */

.hero {
  padding-top: 240px;
  padding-bottom: 170px;
  background-image: url(../img/hero/bg.svg);
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-info {
  max-width: 544px;
}
.hero-title {
  font-family: SF Pro Display, sans-serif;
  font-weight: 590;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #0f172a;
  margin-bottom: 12px;
}
.hero-text {
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #475569;
  margin-bottom: 40px;
}
.hero-link {
  padding: 10px 24px;
  background-color: #0f172a;
  border-radius: 8px;
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.hero-img {
  max-width: 282px;
}
/* hero end  */

/* brend start */

.brend {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: #f2f2f7;
}
.brend-container {
  display: flex;
  justify-content: space-between;
  gap: 114px;
}

.brand-scroller {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.brand-track {
  display: flex;
  justify-content: center;
  gap: 114px; /* Rasm orasidagi masofa */
  animation: scroll 10s linear infinite;
}

.brend-logo {
  height: 48px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* brend end  */

/* service start */
.service {
  padding-top: 46px;
  background-image: url(../img/service/bg.png);
  background-size: cover;
  background-position: left top;
}
.service-top {
  margin-bottom: 58px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-top .section-title {
  text-align: center;
}
.secvice__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.service__row__col {
  border-radius: 30px;
  border: 1px solid #e2e8f0;
  background-color: #f8f8f8;
  overflow: hidden;
}
.service__row__col__img {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 248px;
}
.service__row__col__bottom {
  padding: 20px;
}
.service__row__col__title {
  font-family: SF Pro, sans-serif;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 125%;
  margin-bottom: 10px;
}
.service__row__col__description {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 150%;
  color: #334155;
}
@media (max-width: 1024px) {
  .secvice__row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .secvice__row {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .service-top {
    margin-bottom: 29px;
  }
}
/* serverce end  */

/* why_do start */
.why_do {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.why_do__container {
  background-color: #fafafa;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 47px;
  padding-left: 0;
  padding-right: 63px;
}
.why_do__left {
  max-width: 311px;
  width: 100%;
  padding: 87px 32px 107px;
  background-color: #76a5db;
  border-radius: 20px;
  border-right: 1px solid #e2e8f0;
}

.why_do__left__title {
  font-family: SF Pro, sans-serif;
  font-weight: 700;
  font-size: clamp(25px, 8vw, 29px);
  line-height: 36px;
  color: white;
}

.why_do__row {
  display: flex;
  align-items: center;
  gap: 21px;
}

.why_do__row__col {
  border-right: 1px solid #e2e8f0;
  padding-right: 21px;
}
.why_do__row__col:last-child {
  border-right: none;
  padding-right: 0;
}
.why_do__row__col_title {
  font-family: SF Pro, sans-serif;
  font-weight: 600;
  font-size: clamp(18px, 1vw, 24px);
  line-height: 32px;
  margin-bottom: 10px;
}
.why_do__row__col__description {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 1.1vw, 16px);
  line-height: 28px;
}

@media (max-width: 1130px) {
  .why_do__container {
    flex-direction: column;
    max-width: 312px;
    padding-right: 0;
  }
  .why_do__row {
    flex-direction: column;
  }
  .why_do__left {
    padding: 64px 32px;
  }

  .why_do__row__col {
    border-right: none;
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 21px;
    padding-right: 0;
    text-align: center;
  }
  .why_do__row__col:last-child {
    border-right: none;
    padding-right: 0;
  }
  .why_do {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* why_do end */

/* why us start  */

.why-us {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url(../img/why-us/bg4.svg);
  background-repeat: no-repeat;
}
.why-us-container {
  text-align: center;
}
.why-us-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.why-us-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  text-align: left;
}
.why-us-col {
  border: 1px solid #e2e8f0;
  background: linear-gradient(102.43deg, #fefefe 16.88%, #f9f9f9 104.88%);
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.why-us-col-img {
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
.why-us-col__icon_box {
  width: 48px;
  height: 48px;
  background-color: #f2f2f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(16px, 3vw, 32px);
}
.why-us-col-title {
  font-family: SF Pro Display, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  margin-bottom: 8px;
}
.why-us-col-list {
  padding-left: 20px;
}
.why-us-col-list-item {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #334155;
}
.why-us-col-text {
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}
.why-us-link {
  padding: 10px 24px;
  box-shadow: 0px 4px 6px 0px #00000017;
  background-color: #0f172a;
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
}
/* why us end  */

/* portfolio start */

.portfolio {
  background-image: url(../img/portfolio/bg.svg);
  background-repeat: no-repeat;
  padding: 64px 0;
  padding-bottom: 0 !important;
}
.portfolio-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.portfolio-card-img {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 24px;
}
.portfolio-card-title {
  font-family: SF Pro Display, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: #0f172a;
  margin-bottom: 8px;
}
.portfolio-card-text {
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #334155;
}
.portfolio-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.swiper-button-next1 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1111;
  transform: translateY(-50%);
}

.swiper-button-prev1 {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1111;
  transform: translateY(-20px) rotate(180deg);
}
.mySwiper {
  position: relative !important;
  max-width: 1056px;
}
.portfolio-row {
  position: relative;
}
/* portfolio end  */

.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.container-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 68px;
}
.contact-form {
  background: linear-gradient(102.43deg, #fefefe 16.88%, #f9f9f9 104.88%);
  border: 1px solid #e2e8f0;
  border-radius: 24px;
  padding: 24px;
  display: grid;
  gap: 24px;
}
.contact-item {
  display: grid;
  gap: 8px;
}
.contact-item-name {
  font-family: SF Pro Display, sans-serif;
  font-weight: Body/Font Weight Regular;
  font-size: Body/Size Medium;
  line-height: 140%;
  letter-spacing: 0%;
}
.contact-item-input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.contact-form-btn {
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0f172a;
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #00000017;
  color: white;
  font-family: SF Pro Display, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  border: none;
  cursor: pointer;
  position: relative;
  min-height: 48px;
}

.footer {
  background-color: #f2f2f7;
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer-container {
  display: flex;
  align-items: start;
}
.footer-info {
  margin-right: auto;
}
.footer-logo {
  width: 173px;
  margin-bottom: 66px;
}
.footer-text {
  font-family: SF Pro Display, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #64748b;
}
.footer-right {
  display: grid;
  gap: 16px;
  min-width: 200px;
}

.footer-container .footer-right:nth-child(2) {
  margin-right: 48px;
}

.footer-right-title {
  font-family: SF Pro Display, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: #0f172a;
}
.footer-right-list {
  display: grid;
  gap: 12px;
}
.footer-right-link {
  font-family: SF Pro Display, sans-serif;
  font-weight: 510;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #475569;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .footer-container {
    flex-direction: column;
    gap: 36px;
  }
  .footer-logo {
    width: 124px;
    margin-bottom: 16px;
  }
  .footer-text {
    font-size: 14px;
    line-height: 24px;
  }
  .footer-container .footer-right:nth-child(2) {
    margin-right: 0;
  }
  .footer-right {
    gap: 12px;
  }
  .footer-right-title {
    font-size: 18px;
    line-height: 28px;
  }
  .footer-right-link {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .container-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .contact-form {
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
  }
  .contact-form-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header-logo img {
    width: 82px;
  }
  .nav-list {
    display: none;
  }
  .main-link {
    padding: 8px 12px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 160px;
  }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: start;
    text-align: left;
    align-items: start;
  }
  .hero-img {
    width: 122px;
    margin-bottom: 40px;
  }
  .hero-title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .hero-link {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .brend {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .brend-container {
    gap: 10px;
  }
  .brend-logo {
    max-height: 32px;
    height: 100%;
  }
  .brend-container .brend-logo:nth-child(2n) {
    display: none;
  }
  .brand-track {
    display: flex;
    justify-content: center;
    gap: 60px; /* Rasm orasidagi masofa */
    animation: scroll 10s linear infinite;
  }
}

@media (max-width: 840px) {
  .service {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .service-container {
    grid-template-columns: 1fr;
  }
  .service-left {
    position: static;
  }
  .service-item {
    gap: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .service-list {
    padding-top: 0;
  }
  .service-item-title {
    font-weight: 590;
    font-size: 18px;
    line-height: 28px;
  }
  .service-item-item {
    font-size: 14px;
    line-height: 24px;
  }
  .service-img {
    width: 44px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 20px;
    line-height: 28px;
  }
  .service-header {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

@media (max-width: 980px) {
  .why-us-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .why-us-row {
    grid-template-columns: 1fr;
  }
  .why-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .why-us-container {
    text-align: center;
  }
  .why-us-top {
    justify-content: start;
    align-items: start;
    margin-bottom: 24px;
  }
  .why-us-row {
    gap: 16px;
    margin-bottom: 24px;
  }
  .why-us-col {
    padding: 16px;
    border-radius: 20px;
  }
  .why-us-col-img {
    width: 44px;
    margin-bottom: 16px;
  }
  .why-us-col-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .why-us-col-text {
    font-size: 14px;
    line-height: 24px;
  }
  .why-us-link {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 20px;
  }
}
.portfolio-cards {
  display: none;
}
@media (max-width: 1224px) {
  .portfolio-row {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 800px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .portfolio-top {
    justify-content: start;
    align-items: start;
    margin-bottom: 24px;
  }
  .portfolio-row {
    display: none;
  }
  .portfolio-cards {
    display: grid;
    gap: 24px;
  }
  .portfolio-box {
    transition: all 0.3s;
    overflow: hidden;
  }
  .max-h-608 {
    max-height: 608px;
  }
  .max-h-1216 {
    max-height: 2000px;
  }
  .portfolio-card-img {
    margin-bottom: 12px;
  }
  .portfolio-card-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .portfolio-card-text {
    font-size: 16px;
    line-height: 28px;
  }
  .commentary-btn {
    display: inline-block;
  }
  .portfolio-more {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .about-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-title {
    text-align: left;
    margin-bottom: 24px;
  }
  .about-row {
    gap: 16px;
    margin-bottom: 24px;
  }
  .about-col {
    padding: 24px;
    border-radius: 20px;
  }
  .about-col-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .about-col-text {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 540px) {
  .about-row {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .commentary {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .commentary-container {
    grid-template-columns: 1fr;
  }
  .commentary-list {
    padding-top: 0;
  }
  .commentary-item {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 12px;
  }
  .commentary-item-img {
    width: 56px;
    height: 56px;
  }
  .commentary-item-title {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .commentary-item-text {
    font-size: 14px;
    line-height: 24px;
  }
  .commentary-list {
    padding-bottom: 0;
  }
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: white;
  }

  100% {
    background-color: transparent;
  }
}
.error-message {
  font-family: sans-serif;
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.447);
  z-index: 40;
  display: none;
}
.succes {
  max-width: 470px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 50;
  padding: 20px;
  transition: all 0.3s;
}
.succes-active {
  transform: translate(-50%, -50%) scale(1);
}
.succes__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #e4e9ee;
  border-radius: 8px;
}

.succes__icon_box {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e9f6eb;
  margin-bottom: 31px;
}

.error__icon_box {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fdecea;
  margin-bottom: 31px;
}
.succes__title {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.2px;
  text-align: center;
  margin-bottom: 12px;
}
.succes__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  margin-bottom: 32px;
}
.succes__btn {
  background-color: #0f172a;
  padding: 8px 20px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: white;
}

/* after_business start */
.after_business {
  padding-top: clamp(40px, 4vw, 70px);
  padding-bottom: clamp(40px, 4vw, 70px);
}
.after_business__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.after_business__left_img {
  max-width: 516px;
  width: 100%;
}
.after_business__row__right {
  max-width: 535px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.after_business__row__right__row {
  display: flex;
  align-items: center;
  gap: clamp(18px, 4vw, 38px);
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d5db;
}
.after_business__row__right__row:last-child {
  border-bottom: none;
}
.after_business__row__right__row__left {
  width: clamp(70px, 4vw, 80px);
  height: clamp(70px, 4vw, 80px);
  background-color: #fff;
  box-shadow: 0px 0px 31px 0px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.after_business__row__right__row__title {
  font-family: "SF Compact Rounded", sans-serif;
  font-weight: 600;
  font-size: clamp(14px, 4.8vw, 24px);
  line-height: 100%;
  margin-bottom: 8px;
}
.after_business__row__right__row__text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: clamp(11px, 3.6vw, 16px);
  line-height: 150%;
}
.after_business__left_img__box {
  max-width: 516px;
  width: 100%;
  position: relative;
}
.after_business__left_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.after_business__left_img__box::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  border-radius: 20px;
  position: absolute;
  inset: 1;
  z-index: -1;
  left: -35px;
  bottom: -26px;
}

@media (max-width: 1024px) {
  .after_business__row {
    flex-direction: column;
    gap: 50px;
  }
}

/* after_business end */

.work {
  padding-top: 60px;
  padding-bottom: 60px;
}
.work__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.work__right {
  max-width: 668px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.work__right__card {
  padding: 32px 39px 32px 27px;
  background-color: #fafafa;
  border: 1px solid #e2e8f0;
  border-radius: 20px;
}
.work__right__card__number {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f7;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  font-family: Petit Formal Script, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 13px;
}

.work__right__card__description {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #858d99;
}
@media (max-width: 1024px) {
  .work__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work__container .service-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .section-title {
      text-align: center;
    }
  }
}
@media (max-width: 640px) {
  .work__right {
    grid-template-columns: 1fr;
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*commentary start  */

/* why_odoo start */
.why_odoo {
  padding-top: 49px;
  padding-bottom: 85px;
  background-image: url(../img/why_odoo/bg.png);
  background-size: cover;
  background-position: top right;
}
.why_odoo__container {
  max-width: 1018px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.why_odoo__left__list {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.why_odoo__left__list__item {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #858d99;
  display: flex;
  align-items: center;
  gap: 6px;
}
.why_odoo__left__list__item::before {
  content: "";
  display: flex;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
}
.why_odoo__left__btn {
  padding: 10px 24px;
  background-color: #0f172a;
  box-shadow: 0px 4px 6px 0px #00000017;
  border: none;
  border-radius: 8px;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.why_odoo__right{
  max-width: 359px;
  width: 100%;
  position: relative;
}
.why_odoo__right__img{
  width: 100%;
  object-fit: contain;
  position: relative;
  z-index: 10;
  height: auto;
}

.why_odoo__right::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #AD729F;
  border-radius: 20px;
  position: absolute;
  inset: 1;
  right: -25px;
  bottom: -21px;
}
@media (max-width: 768px) {
  .why_odoo__container{
    flex-direction: column;
  }
  .why_odoo__left__list__item{
    color: #000;
  }
  .why_odoo{
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .why_odoo__right::before {
    display: none;
}
}
/* why_odoo end */
